@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  /* Allow changing font family via CMS */
  html {
    font-family: var(--font-family);
  }

  /** Remove default styles from input[type=number] */
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
  }
}

@layer components {

  /** Prevent scroll when modal is open */
  .no-scroll {
    overflow: hidden;
    height: 100vh;
  }
}

@layer utilities {

  /** Remove scrollbar from overflow-auto */
  .scrollbar-none {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }
}

/**
* Custom Styles
*/
body {
  @apply border-x-4 md:border-x-[24px] border-primary min-h-screen flex flex-col;
}
section:has(footer) {
  @apply mt-auto;
}

/* Draggable */
#drop-area:not(:has(article)) {
  @apply text-neutral before:content-['Drag_&_drop_your_team_here'] before:place-self-center before:col-start-1 before:col-end-6 before:row-start-1 before:row-end-1 before:text-center before:z-10 after:border after:border-dashed after:row-start-1 after:row-end-1 after:col-start-3 after:col-end-3 after:w-16 after:md:w-20 after:h-24 after:md:h-32 after:rounded-md after:opacity-50;
}